body{
    background: url("img/pizza.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

.container{
    background-color: white;
    box-shadow: 3px 3px 2px rgba(0,0,0,0.5);
    border: solid 1px black;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    width: 75%;
    margin: 20px auto;
}

#email,
#name,
#number{
    width:200px;
}

#name,
#email,
#number,
#crust,
#toppings,
#submit {
    margin: 5px 0;
}

#instructions{
    width: 75%;
}

#submit{
    width: 50%;
}

